.clock {
    position: fixed;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 5px solid #333;
    border-radius: 50%;
}

.hour,
.minute,
.second {
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #333;
    top: 50%;
    transform-origin: 88% 50%;
    transition: transform 0.5s cubic-bezier(0.4, 2.6, 0.6, 1);
}

.minute {
    height: 1px;
    background-color: #555;
}

.second {
    height: 1px;
    background-color: red;
}

.clock-footer {
    position: absolute;
    bottom: 0;
    left: 6px;
    font-size: 18px;
}
