.filter {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0 0;
}

.filter h1:first-child {
    color: var(--color-primary);
    font: bold 24px Sans-Serif;
    text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    border-left: 5px solid red;
    background-color: var(--background-second);
    box-shadow: var(--box-shadow);
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.option select, .option span button {
    background-color: var(--background-second);
    box-shadow: var(--box-shadow-button);
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--color-second);
    padding: 10px;
    cursor: pointer;
}

.option span button:nth-child(2) {
    margin-left: 10px;
}

.option span button:active {
    box-shadow: var(--box-shadow-inset);
}

.text_show {
    margin: 8px;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5rem;
    text-align: center;
    height: 30px;
}