*,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.app {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-primary);
    overflow: hidden;
}

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 1000;
}

#loader span {
    width: 60px;
    height: 60px;
    border: 8px solid var(--background-second);
    border-top: 8px solid var(--border-loader);
    border-radius: 50%;
    -webkit-animation: load 2s linear infinite;
    animation: load 2s linear infinite;
}

.sidebar {
    position: fixed;
    width: 50px;
    min-width: 50px;
    height: 100%;
    min-height: 100vh;
    padding: 0 14px;
    z-index: 199;
    transition: all 0.5s ease;
    background-color: var(--background-second);
    box-shadow: var(--box-shadow);
}

.sidebar-logo {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
}

.sidebar-logo i {
    color: var(--color-primary);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar-logo .logo-name {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px !important;
}

.sidebar.open .icon,
.sidebar.open .logo-name {
    opacity: 1;
}

.sidebar-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

#btn-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;
}

.sidebar.open #btn {
    text-align: right;
}

.content {
    position: relative;
    background: var(--primary-background);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .content {
    left: 275px;
    width: calc(100% - 275px);
}

.content-section {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: var(--background-second);
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.section-search {
    position: relative;
    display: flex;
    align-items: center;
}

.section-search-input {
    position: relative;
    height: 50px;
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.section-search-input input {
    border-color: transparent;
    outline: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    color: var(--color-txt);
    background-color: var(--background-primary);
    border-radius: 15px;
}

.section-search-input i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    transition: 0.5s;
    cursor: pointer;
    color: var(--color-txt);
}

.section-search-input i:hover {
    color: var(--color-primary);
    transform: rotate(90deg);
}

.search-result {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 100;
    padding: 10px 0;
}

.search-result::-webkit-scrollbar {
    display: none;
}

.search-result span {
    display: block;
    padding: 0 20px;
}

.search-result span:first-letter {
    text-transform: capitalize;
}

.search-result span:hover {
    color: red;
}

.search-result.active {
    display: block;
}

.search-result.active.data-none {
    display: flex !important;
    align-items: center;
    height: 100px !important;
}

.search-result.data-none span {
    width: 100%;
    text-align: center;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: var(--color-primary);
}

.setting {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.setting-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background-second);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 1001;
}

.setting-icon:hover i {
    transform: rotate(60deg);
}

.setting-icon span {
    position: absolute;
    right: calc(100% + 10px);
    top: 20%;
    width: max-content;
    padding: 5px 10px;
    color: var(--color-primary);
    background-color: var(--background-second);
    box-shadow: var(--background-second);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 0;
    transition: all 0.3s;
}

.setting-icon:hover span {
    opacity: 1;
    top: 25%;
}

.setting-icon i {
    margin-top: 3px;
    color: var(--color-primary);
    transition: all 0.3s;
}

.setting-items-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.setting-items-menu .menu-item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--background-second);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.setting-items-menu.active .menu-item:nth-child(1) {
    transform: translate3d(-7.5em, -1em, 0);
    box-shadow: var(--box-shadow);
}

.setting-items-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-5em, -5.2em, 0);
    box-shadow: var(--box-shadow);
}

.setting-items-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-1em, -8em, 0);
    box-shadow: var(--box-shadow);
}

.setting-items-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-1em, -13em, 0);
    box-shadow: var(--box-shadow);
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
