:root {
  --background-primary: #e4e9f7;
  --background-second: #fff;
  --background-third: #ece8e8;
  --color-primary: #121331;
  --color-second: #121331;
  --color-icon: #121331;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

[data-theme="dark"] {
  --background-primary: #202020;
  --background-second: #2d2d2d;
  --background-third: #2d2d2d;
  --color-primary: #fff;
  --color-second: #bbb;
  --color-icon: #121331;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}